<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Multisys QA Exam">

  <!-- Builds the HTML report -->
  <listeners>
    <listener class-name="utils.TestListener"/>
  </listeners>

  <test name="All Tests">
    <classes>
      <class name="tests.LoginTest"/>
      <class name="tests.DynamicContentTest"/>
      <class name="tests.CheckboxesTest"/>
      <class name="tests.UsersApiTest"/>
    </classes>
  </test>

</suite>
